<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Community</h1>
    <p>Everyone is welcome to participate : )</p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h2>Q&A</h2>
      <p>For questions and answers you can use Stackoverflow</p>
      <p><a class="btn bg-dramatic" href="https://stackoverflow.com/search?q=sophia" role="button">Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Chat</h2>
      <p>The chat with developers requires registration and approval.</p>
      <p><a class="btn bg-dramatic" href="https://devchat.aeternity.com/" role="button">Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Tickets in GitHub</h2>
      <p>If you need to report a bug or suggest a change, you can use the Issues section in the GitHub repo.</p>
      <p><a class="btn bg-dramatic" href="https://github.com/aeternity/protocol/tree/master/contracts" role="button">Link &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
