scripts:
- https://medium-widget.pixelpoint.io/widget.js
- js/medium.js
---

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Sophia</h1>
    <p>Functional language for smart contract.</p>
    <p><a class="btn btn-primary btn-lg" href="learn.html" role="button">Get started &raquo;</a></p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div>
      <h2>The Language</h2>
      <p>Sophia is a functional language in the ML family. It is strongly typed and has restricted mutable state.</p>
      <p>Sophia is customized for smart contracts, which can be published to a blockchain. Thus some features of conventional languages, such as floating point arithmetic, are not present in Sophia, and some blockchain specific primitives, constructions and types have been added.</p>
      <h2>Features</h2>
      <p>TBA</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div>
      <h2>Recent posts</h2>
      <div id="medium-widget"></div>
    </div>
  </div>

</div> <!-- /container -->
