<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Team</h1>
  </div>
</div>



<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" src="https://aeternity.com/user/pages/01.home/_10.team/erik-1.jpg"/>
        <div class="card-body">
            <h5 class="card-title">Erik Stenman, PhD</h5>
            <p>Erlang Developer</p>
            <p class="card-text">
                <small class="text-muted">Erik has been programming for fun since 1980 and for profit since 1989, when he started his first development company. Erik was one of the driving forces behind the the "High Performance Erlang project" (HiPE) since it started in 1996. In his PhD work he implemented an efficient native code compiler, compiling from the Erlang VM BEAM code to native machine code. Erik built up the Engineering Department at Klarna from scratch. In his limited spare time, he is writing a book about the Erlang Runtime system.</small>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="https://github.com/happi">GitHub</a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="https://aeternity.com/user/pages/01.home/_10.team/tobias.jpg"/>
          <div class="card-body">
              <h5 class="card-title">Tobias Lindahl</h5>
              <p>Erlang Developer</p>
              <p class="card-text">
                  <small class="text-muted">Tobias is an Erlang expert with experience ranging from architecting and implementing large scale, high-availability systems to deep diving in the Erlang language implementation. Formerly a researcher in programming language design and static analysis, at Klarna, Tobias pushed the boundaries of what an Erlang system can do to keep up with extreme growth. Tobias is a member of the core development team, implementing the Ethereum VM in Erlang to run Solidity contracts on the æternity blockchain.</small>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="https://github.com/gorillainduction">GitHub</a>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
